include README.md
include LICENSE.txt
include docs/*
include bin/*
include pfla/data/haarcascade_frontalface_alt2.xml
include pfla/data/haarcascade_frontalface_alt_tree.xml
include pfla/data/haarcascade_frontalface_default.xml
include pfla/data/shape_predictor_68_face_landmarks.dat
include pfla/test/*
include pfla/fcn/stats.R
