include README.md
include LICENSE.txt
include data/faces/*
include data/ldmks/g1_landmark_matrix.csv
include data/ldmks/g2_landmark_matrix.csv
include img/img_prep/g1/
include img/img_prep/g2/
include img/img_proc/g1/
include img/img_proc/g2/
include img/img_raw/g1/
include img/img_raw/g2/
include docs/*
include bin/*
include pfla/data/haarcascade_frontalface_default.xml
include pfla/test/*
include pfla/fcn/*
